<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>webImage</key>
			<string>百度</string>
			<key>webUrl</key>
			<string>https://www.baidu.com</string>
			<key>webTitle</key>
			<string>百度</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>谷歌</string>
			<key>webUrl</key>
			<string>https://www.google.com.hk</string>
			<key>webTitle</key>
			<string>谷歌</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>快递</string>
			<key>webUrl</key>
			<string>http://m.kuaidi100.com</string>
			<key>webTitle</key>
			<string>查快递</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>酷狗</string>
			<key>webUrl</key>
			<string>http://m.kugou.com</string>
			<key>webTitle</key>
			<string>酷狗</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>QQ音乐</string>
			<key>webUrl</key>
			<string>http://m.y.qq.com</string>
			<key>webTitle</key>
			<string>QQ音乐</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>网易云音乐</string>
			<key>webUrl</key>
			<string>http://music.163.com</string>
			<key>webTitle</key>
			<string>网易云音乐</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>淘宝</string>
			<key>webUrl</key>
			<string>https://www.taobao.com</string>
			<key>webTitle</key>
			<string>淘宝网</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>京东</string>
			<key>webUrl</key>
			<string>https://www.jd.com</string>
			<key>webTitle</key>
			<string>京东</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>亚马逊</string>
			<key>webUrl</key>
			<string>https://www.amazon.com</string>
			<key>webTitle</key>
			<string>亚马逊</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>美团</string>
			<key>webUrl</key>
			<string>http://i.meituan.com</string>
			<key>webTitle</key>
			<string>美团</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>大众</string>
			<key>webUrl</key>
			<string>https://m.dianping.com</string>
			<key>webTitle</key>
			<string>大众点评</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>滴滴出行</string>
			<key>webUrl</key>
			<string>http://www.udache.com</string>
			<key>webTitle</key>
			<string>滴滴出行</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>ofo小黄车</string>
			<key>webUrl</key>
			<string>http://www.ofo.so</string>
			<key>webTitle</key>
			<string>ofo小黄车</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>摩拜单车</string>
			<key>webUrl</key>
			<string>http://mobike.com/cn/</string>
			<key>webTitle</key>
			<string>摩拜单车</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>携程</string>
			<key>webUrl</key>
			<string>http://www.ctrip.com</string>
			<key>webTitle</key>
			<string>携程</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>优酷</string>
			<key>webUrl</key>
			<string>https://account.youku.com</string>
			<key>webTitle</key>
			<string>优酷</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>腾讯视频</string>
			<key>webUrl</key>
			<string>https://v.qq.com</string>
			<key>webTitle</key>
			<string>腾讯视频</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>爱奇艺</string>
			<key>webUrl</key>
			<string>http://www.iqiyi.com</string>
			<key>webTitle</key>
			<string>爱奇艺</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>新浪微博</string>
			<key>webUrl</key>
			<string>http://www.weibo.com</string>
			<key>webTitle</key>
			<string>新浪微博</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>facebook</string>
			<key>webUrl</key>
			<string>https://www.facebook.com</string>
			<key>webTitle</key>
			<string>facebook</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>推特</string>
			<key>webUrl</key>
			<string>https://twitter.com</string>
			<key>webTitle</key>
			<string>推特</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>webImage</key>
			<string>腾讯体育</string>
			<key>webUrl</key>
			<string>http://sports.qq.com</string>
			<key>webTitle</key>
			<string>腾讯体育</string>
		</dict>
		<dict>
			<key>webImage</key>
			<string>新浪体育</string>
			<key>webUrl</key>
			<string>http://sports.sina.com.cn</string>
			<key>webTitle</key>
			<string>新浪体育</string>
		</dict>
	</array>
	<array>
		<string>搜索</string>
		<string>音乐</string>
		<string>购物</string>
		<string>美食</string>
		<string>行程</string>
		<string>视频</string>
		<string>社交</string>
		<string>体育</string>
	</array>
</array>
</plist>
